In [36]:
pwd

'/Users/gerardfullsack/Desktop/SF-Restaurant-Yelp-and-Health-Score'

In [37]:
import pandas as pd
from sqlalchemy import create_engine
import json
from pymongo import MongoClient

In [38]:
client = MongoClient('localhost', 27017)
db = client['SF_Restaurant_db']

In [39]:
csv_file = "Resources/SF_restaurant_scores_lives_standard.csv"
Restaurant_health_data_df = pd.read_csv(csv_file)
Restaurant_health_data_df.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,...,inspection_type,violation_id,violation_description,risk_category,Neighborhoods,Police Districts,Supervisor Districts,Fire Prevention Districts,Zip Codes,Analysis Neighborhoods
0,97975,BREADBELLY,1408 Clement St,San Francisco,CA,94118,NaN,NaN,NaN,1.415724e+10,...,Routine - Unscheduled,97975_20190725_103124,Inadequately cleaned or sanitized food contact...,Moderate Risk,NaN,NaN,NaN,NaN,NaN,NaN
1,69487,Hakkasan San Francisco,1 Kearny St,San Francisco,CA,94108,NaN,NaN,NaN,NaN,...,Routine - Unscheduled,69487_20180418_103119,Inadequate and inaccessible handwashing facili...,Moderate Risk,NaN,NaN,NaN,NaN,NaN,NaN
2,91044,Chopsticks Restaurant,4615 Mission St,San Francisco,CA,94112,NaN,NaN,NaN,NaN,...,Non-inspection site visit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,85987,Tselogs,552 Jones St,San Francisco,CA,94102,NaN,NaN,NaN,NaN,...,Routine - Unscheduled,85987_20180412_103132,Improper thawing methods,Moderate Risk,NaN,NaN,NaN,NaN,NaN,NaN
4,96024,Fig & Thistle Market,691 14th St,San Francisco,CA,94114,NaN,NaN,NaN,NaN,...,New Ownership - Followup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
health_data_df = Restaurant_health_data_df[['business_id', 'business_name','business_city','inspection_score', 'inspection_date']].copy()
health_data_df.head()

,business_id,business_name,business_city,inspection_score,inspection_date
0,97975,BREADBELLY,San Francisco,96.0,2019-07-25T00:00:00.000
1,69487,Hakkasan San Francisco,San Francisco,88.0,2018-04-18T00:00:00.000
2,91044,Chopsticks Restaurant,San Francisco,NaN,2017-08-18T00:00:00.000
3,85987,Tselogs,San Francisco,94.0,2018-04-12T00:00:00.000
4,96024,Fig & Thistle Market,San Francisco,NaN,2018-11-08T00:00:00.000

In [41]:
#json_file = "Resources/business.json"
#Yelp_business_df = pd.read_json (json_file, lines = True )

In [42]:
#new_yelp_business_df = Yelp_business_df[["name","categories", "city","stars","state","postal_code" ]].copy()

In [43]:
#CA_yelp_business_df = new_yelp_business_df.loc[new_yelp_business_df["state"]=="CA"]
#CA_yelp_business_df.head()



#SF_restaurant_yelp_business_df = CA_yelp_business_df.loc[Restaurant_yelp_business_df["city"]=="San Francisco"]
#SF_restaurant_yelp_business_df.head()
#CA_yelp_business_df

In [49]:
csv_file = "Resources/yelp_restaurants.csv"
Raw_restaurant_data_df = pd.read_csv(csv_file)
Raw_restaurant_data_df.head()

,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,name,phone,price,rating,review_count,transactions,url
0,fog-harbor-fish-house-san-francisco-2,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 37.809041, 'longitude': -122.410233}",(415) 421-2442,5827.740044,f-m7-hyFzkf0HSEeQ2s-9A,https://s3-media1.fl.yelpcdn.com/bphoto/Lv7tIR...,False,"{'address1': 'Pier 39', 'address2': 'Ste A-202...",Fog Harbor Fish House,1.415421e+10,$$,4.0,5531,['restaurant_reservation'],https://www.yelp.com/biz/fog-harbor-fish-house...
1,the-house-san-francisco,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...","{'latitude': 37.79851, 'longitude': -122.40706}",(415) 986-8612,4911.928932,ZoZjbOYR-apY8XvommlNUA,https://s3-media2.fl.yelpcdn.com/bphoto/UzrNIk...,False,"{'address1': '1230 Grant Ave', 'address2': '',...",The House,1.415987e+10,$$$,4.5,4650,['restaurant_reservation'],https://www.yelp.com/biz/the-house-san-francis...
2,marufuku-ramen-sf-san-francisco,"[{'alias': 'ramen', 'title': 'Ramen'}]","{'latitude': 37.785155, 'longitude': -122.432075}",(415) 872-9786,2724.336437,HHtpR0RslupSQ99GIIwW5A,https://s3-media2.fl.yelpcdn.com/bphoto/2lUFO5...,False,"{'address1': '1581 Webster St', 'address2': 'S...",Marufuku Ramen SF,1.415873e+10,$$,4.5,2404,[],https://www.yelp.com/biz/marufuku-ramen-sf-san...
3,beretta-san-francisco,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 37.75384, 'longitude': -122.42055}",(415) 695-1199,1591.309745,4KfQnlcSu4bbTqnvGdGptw,https://s3-media1.fl.yelpcdn.com/bphoto/RsCeyB...,False,"{'address1': '1199 Valencia St', 'address2': '...",Beretta,1.415695e+10,$$,4.0,3500,['restaurant_reservation'],https://www.yelp.com/biz/beretta-san-francisco...
4,farmhouse-kitchen-thai-cuisine-san-francisco,"[{'alias': 'thai', 'title': 'Thai'}, {'alias':...","{'latitude': 37.7602179, 'longitude': -122.411...",(415) 814-2920,2228.504131,8kck3-K4zYKTJbJko0JlXQ,https://s3-media3.fl.yelpcdn.com/bphoto/AC0JE-...,False,"{'address1': '710 Florida St', 'address2': '',...",Farmhouse Kitchen Thai Cuisine,1.415814e+10,$$,4.0,2034,"['pickup', 'delivery', 'restaurant_reservation']",https://www.yelp.com/biz/farmhouse-kitchen-tha...

In [51]:
Yelp_SF_Restaurant_health_data_df = Raw_restaurant_data_df[['alias', 'name', 'categories','coordinates', 'price' ,'rating', 'review_count']].copy()
Yelp_SF_Restaurant_health_data_df.head()

,alias,name,categories,coordinates,price,rating,review_count
0,fog-harbor-fish-house-san-francisco-2,Fog Harbor Fish House,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 37.809041, 'longitude': -122.410233}",$$,4.0,5531
1,the-house-san-francisco,The House,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...","{'latitude': 37.79851, 'longitude': -122.40706}",$$$,4.5,4650
2,marufuku-ramen-sf-san-francisco,Marufuku Ramen SF,"[{'alias': 'ramen', 'title': 'Ramen'}]","{'latitude': 37.785155, 'longitude': -122.432075}",$$,4.5,2404
3,beretta-san-francisco,Beretta,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 37.75384, 'longitude': -122.42055}",$$,4.0,3500
4,farmhouse-kitchen-thai-cuisine-san-francisco,Farmhouse Kitchen Thai Cuisine,"[{'alias': 'thai', 'title': 'Thai'}, {'alias':...","{'latitude': 37.7602179, 'longitude': -122.411...",$$,4.0,2034

In [52]:
Yelp_SF_Restaurant_health_data_df.sort_values(ascending = True, by = 'name')

,alias,name,categories,coordinates,price,rating,review_count
728,15-romolo-san-francisco,15 Romolo,"[{'alias': 'tapasmallplates', 'title': 'Tapas/...","{'latitude': 37.7981914, 'longitude': -122.406...",$$,4.0,1050
613,1601-bar-and-kitchen-san-francisco,1601 Bar & Kitchen,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...","{'latitude': 37.7715817, 'longitude': -122.416...",$$$,4.0,260
482,1608-bistro-san-francisco,1608 Bistro,"[{'alias': 'breakfast_brunch', 'title': 'Break...","{'latitude': 37.7883672, 'longitude': -122.423...",$$,4.0,194
631,1760-san-francisco,1760,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 37.79312, 'longitude': -122.4209}",$$$,4.0,683
770,20-spot-san-francisco,20 Spot,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 37.75834, 'longitude': -122.42036}",$$,4.5,238
665,21-taste-house-san-francisco,21 Taste House,"[{'alias': 'ramen', 'title': 'Ramen'}]","{'latitude': 37.7234497070312, 'longitude': -1...",$$,4.0,255
506,3rd-cousin-san-francisco-2,3rd Cousin,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 37.73907, 'longitude': -122.41366}",$$$,4.0,244
931,4505-burgers-and-bbq-san-francisco,4505 Burgers & BBQ,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...","{'latitude': 37.7761896, 'longitude': -122.438...",$$,3.5,1496
366,54-mint-ristorante-italiano-san-francisco-2,54 Mint - Ristorante Italiano,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 37.7826100091309, 'longitude': -1...",$$$,4.0,1121
157,5a5-steak-lounge-san-francisco-4,5A5 Steak Lounge,"[{'alias': 'steak', 'title': 'Steakhouses'}, {...","{'latitude': 37.7969972, 'longitude': -122.400...",$$$,4.0,2137
982,7-mile-house-brisbane,7 Mile House,"[{'alias': 'sportsbars', 'title': 'Sports Bars...","{'latitude': 37.7043136445698, 'longitude': -1...",$$,4.0,1039
569,707-sutter-san-francisco,707 Sutter,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 37.7886616504901, 'longitude': -1...",$$,4.0,646
708,80-90-friendship-restaurant-san-francisco,80 90 Friendship Restaurant,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...","{'latitude': 37.78224, 'longitude': -122.48543}",$$,4.5,12
776,a-la-turca-restaurant-san-francisco-3,A La Turca Restaurant,"[{'alias': 'turkish', 'title': 'Turkish'}]","{'latitude': 37.78606, 'longitude': -122.417613}",$$,4.0,795
918,a16-san-francisco-4,A16,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 37.7997932434082, 'longitude': -1...",$$$,3.5,1951
898,abv-san-francisco-2,ABV,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...","{'latitude': 37.7650569, 'longitude': -122.423...",$$,4.0,570
679,als-place-san-francisco,AL's Place,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 37.7490078521491, 'longitude': -1...",$$$,4.0,726
741,abrazo-san-francisco-2,Abrazo,"[{'alias': 'spanish', 'title': 'Spanish'}, {'a...","{'latitude': 37.7994, 'longitude': -122.41888}",NaN,4.5,39
736,absinthe-brasserie-and-bar-san-francisco-2,Absinthe Brasserie & Bar,"[{'alias': 'french', 'title': 'French'}, {'ali...","{'latitude': 37.77714, 'longitude': -122.42268}",$$$,4.0,3212
675,ace-wasabi-rock-n-roll-sushi-san-francisco,Ace Wasabi Rock-N-Roll Sushi,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...","{'latitude': 37.80016, 'longitude': -122.43813}",$$,4.0,873
263,acquerello-san-francisco,Acquerello,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 37.79157, 'longitude': -122.4213296}",$$$$,4.5,1071
644,after-hours-san-francisco-2,After Hours,"[{'alias': 'sportsbars', 'title': 'Sports Bars...","{'latitude': 37.74227, 'longitude': -122.49901}",$$,4.5,89
309,aicha-moroccan-cuisine-san-francisco-3,Aicha Moroccan Cuisine,"[{'alias': 'moroccan', 'title': 'Moroccan'}, {...","{'latitude': 37.788901, 'longitude': -122.420532}",$$,4.0,479
209,akikos-restaurant-san-francisco,Akiko's Restaurant,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...","{'latitude': 37.790582, 'longitude': -122.404653}",$$$,4.0,1831
230,akira-japanese-restaurant-san-francisco,Akira Japanese Restaurant,"[{'alias': 'japanese', 'title': 'Japanese'}, {...","{'latitude': 37.7883057571854, 'longitude': -1...",$$,4.5,321
641,als-deli-san-francisco,Al's Deli,"[{'alias': 'delis', 'title': 'Delis'}, {'alias...","{'latitude': 37.76167, 'longitude': -122.42409}",NaN,3.5,34
610,alamo-drafthouse-cinema-new-mission-san-francisco,Alamo Drafthouse Cinema New Mission,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...","{'latitude': 37.75619, 'longitude': -122.41934}",$$,3.5,814
274,alamo-square-seafood-grill-san-francisco,Alamo Square Seafood Grill,"[{'alias': 'seafood', 'title': 'Seafood'}]","{'latitude': 37.7769876597265, 'longitude': -1...",$$,4.0,637
314,alba-rays-san-francisco,Alba Ray's,"[{'alias': 'cajun', 'title': 'Cajun/Creole'}, ...","{'latitude': 37.760481, 'longitude': -122.418972}",$$,4.0,379
82,alegrias-san-francisco,Alegrias,"[{'alias': 'spanish', 'title': 'Spanish'}, {'a...","{'latitude': 37.80027, 'longitude': -122.43481}",$$,4.0,757
...,...,...,...,...,...,...,...
824,wine-kitchen-san-francisco,Wine Kitchen,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...","{'latitude': 37.7743492126465, 'longitude': -1...",$$,4.0,177
583,wipeout-bar-and-grill-san-francisco-2,Wipeout Bar & Grill,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...","{'latitude': 37.8089998891953, 'longitude': -1...",$$,3.5,1321
887,wok-shop-cafe-san-francisco,Wok Shop Cafe,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...","{'latitude': 37.787384, 'longitude': -122.422165}",$,4.0,582
921,woodbury-san-francisco,Woodbury,"[{'alias': 'gastropubs', 'title': 'Gastropubs'}]","{'latitude': 37.7790943635989, 'longitude': -1...",$$,4.0,202
696,wooden-spoon-san-francisco,Wooden Spoon,"[{'alias': 'breakfast_brunch', 'title': 'Break...","{'latitude': 37.7666182758937, 'longitude': -1...",$$,4.5,276
463,woodhouse-fish-san-francisco,Woodhouse Fish,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 37.7676615910331, 'longitude': -1...",$$,4.0,1622
95,woodhouse-fish-company-san-francisco-3,Woodhouse Fish Company,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 37.78742, 'longitude': -122.43327}",$$,4.0,2171
868,yakiniq-san-francisco-4,Yakiniq,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...","{'latitude': 37.7859306335449, 'longitude': -1...",$$,3.0,1335
346,yama-chan-san-francisco,Yama-chan,"[{'alias': 'japanese', 'title': 'Japanese'}]","{'latitude': 37.785275, 'longitude': -122.429119}",NaN,4.0,19
962,yamo-san-francisco,Yamo,"[{'alias': 'burmese', 'title': 'Burmese'}, {'a...","{'latitude': 37.7619463343878, 'longitude': -1...",$,3.5,1942
945,yank-sing-san-francisco-2,Yank Sing,"[{'alias': 'dimsum', 'title': 'Dim Sum'}, {'al...","{'latitude': 37.7927224142545, 'longitude': -1...",$$$,3.5,2514
596,yuanbao-jiaozi-san-francisco-2,Yuanbao Jiaozi,"[{'alias': 'chinese', 'title': 'Chinese'}]","{'latitude': 37.76356, 'longitude': -122.48067}",$,4.0,245
841,yummy-dumpling-san-francisco,Yummy Dumpling,"[{'alias': 'diyfood', 'title': 'Do-It-Yourself...","{'latitude': 37.7637346, 'longitude': -122.476...",$,4.5,114
217,yummy-yummy-san-francisco,Yummy Yummy,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...","{'latitude': 37.76368, 'longitude': -122.46879}",$$,4.0,1377
475,z-and-y-bistro-san-francisco-2,Z & Y Bistro,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...","{'latitude': 37.79639, 'longitude': -122.4055142}",$$,4.0,96
84,z-and-y-restaurant-san-francisco-3,Z & Y Restaurant,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...","{'latitude': 37.7960764706099, 'longitude': -1...",$$,3.5,1586
382,zaytoon-mediterranean-san-francisco-2,Zaytoon Mediterranean,"[{'alias': 'mediterranean', 'title': 'Mediterr...","{'latitude': 37.77515, 'longitude': -122.43804}",$$,4.0,78
574,zazang-korean-noodles-san-francisco,Zazang Korean Noodles,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...","{'latitude': 37.7831089496613, 'longitude': -1...",$$,3.5,480
65,zazie-san-francisco,Zazie,"[{'alias': 'breakfast_brunch', 'title': 'Break...","{'latitude': 37.765244, 'longitude': -122.4501...",$$,4.0,4266
924,zen-yai-thai-restaurant-san-francisco,Zen Yai Thai Restaurant,"[{'alias': 'thai', 'title': 'Thai'}]","{'latitude': 37.784028, 'longitude': -122.418941}",$,4.0,676
32,zero-zero-san-francisco,Zero Zero,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...","{'latitude': 37.78163, 'longitude': -122.40204}",$$,4.0,3226
379,zhuo-kitchen-san-francisco,Zhuo Kitchen,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...","{'latitude': 37.7626088, 'longitude': -122.46588}",NaN,4.5,46
100,zuni-cafÃ©-san-francisco-3,Zuni CafÃ©,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 37.7734826, 'longitude': -122.421...",$$$,4.0,2687
810,zzan-san-francisco-2,Zzan,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 37.7875, 'longitude': -122.41233}",$$,3.5,214
89,a-mano-san-francisco-2,a Mano,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 37.776963880538, 'longitude': -12...",$$,4.0,775
237,barvale-san-francisco-4,barvale,"[{'alias': 'tapasmallplates', 'title': 'Tapas/...","{'latitude': 37.77574, 'longitude': -122.43829}",$$,4.0,279
348,jÅ«-ni-san-francisco-5,jÅ«-ni,"[{'alias': 'japanese', 'title': 'Japanese'}, {...","{'latitude': 37.77653, 'longitude': -122.43883}",$$$$,4.5,281
435,pomelo-on-judah-san-francisco,pomelo on Judah,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...","{'latitude': 37.76247, 'longitude': -122.46269}",$$,4.0,430
22,um-ma-san-francisco-3,um.ma,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...","{'latitude': 37.7655, 'longitude': -122.46608}",$$,4.0,79
533,Ã¨-tutto-qua-san-francisco-2,Ãˆ Tutto Qua,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 37.7977599, 'longitude': -122.40625}",$$,4.0,2114

In [53]:
Yelp_SF_Restaurant_health_data_df.shape

(1000, 7)

In [54]:
Yelp_SF_Restaurant_health_data_df.drop_duplicates(subset= 'name', keep='first', inplace=False)

,alias,name,categories,coordinates,price,rating,review_count
0,fog-harbor-fish-house-san-francisco-2,Fog Harbor Fish House,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 37.809041, 'longitude': -122.410233}",$$,4.0,5531
1,the-house-san-francisco,The House,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...","{'latitude': 37.79851, 'longitude': -122.40706}",$$$,4.5,4650
2,marufuku-ramen-sf-san-francisco,Marufuku Ramen SF,"[{'alias': 'ramen', 'title': 'Ramen'}]","{'latitude': 37.785155, 'longitude': -122.432075}",$$,4.5,2404
3,beretta-san-francisco,Beretta,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 37.75384, 'longitude': -122.42055}",$$,4.0,3500
4,farmhouse-kitchen-thai-cuisine-san-francisco,Farmhouse Kitchen Thai Cuisine,"[{'alias': 'thai', 'title': 'Thai'}, {'alias':...","{'latitude': 37.7602179, 'longitude': -122.411...",$$,4.0,2034
5,liholiho-yacht-club-san-francisco-2,Liholiho Yacht Club,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...","{'latitude': 37.78818, 'longitude': -122.41458}",$$$,4.5,2203
6,lolÃ³-san-francisco-4,LolÃ³,"[{'alias': 'tapasmallplates', 'title': 'Tapas/...","{'latitude': 37.7573462, 'longitude': -122.421...",$$,4.0,2072
7,delarosa-san-francisco,Delarosa,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 37.800287, 'longitude': -122.4391...",$$,4.0,1454
8,the-front-porch-san-francisco,The Front Porch,"[{'alias': 'southern', 'title': 'Southern'}, {...","{'latitude': 37.7438, 'longitude': -122.422035}",$$,4.0,2719
9,scomas-restaurant-san-francisco-3,Scoma's Restaurant,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 37.808944, 'longitude': -122.418462}",$$$,4.0,3567
10,tuba-authentic-turkish-restaurant-san-francisco,Tuba Authentic Turkish Restaurant,"[{'alias': 'mediterranean', 'title': 'Mediterr...","{'latitude': 37.7548912, 'longitude': -122.422...",$$,4.5,987
11,suppenkÃ¼che-san-francisco-2,SuppenkÃ¼che,"[{'alias': 'german', 'title': 'German'}]","{'latitude': 37.7762603759766, 'longitude': -1...",$$,4.0,3086
12,izakaya-kou-san-francisco-2,Izakaya KOU,"[{'alias': 'tapasmallplates', 'title': 'Tapas/...","{'latitude': 37.7840954508032, 'longitude': -1...",$$,4.0,758
13,sotto-mare-oysteria-and-seafood-san-francisco,Sotto Mare Oysteria & Seafood,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 37.79979, 'longitude': -122.40834}",$$,4.5,3541
14,burma-superstar-san-francisco-2,Burma Superstar,"[{'alias': 'burmese', 'title': 'Burmese'}]","{'latitude': 37.782787322998, 'longitude': -12...",$$,4.0,6619
15,san-tung-san-francisco-2,San Tung,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...","{'latitude': 37.76367, 'longitude': -122.46896}",$$,4.0,6617
16,starbelly-san-francisco,Starbelly,"[{'alias': 'comfortfood', 'title': 'Comfort Fo...","{'latitude': 37.764096, 'longitude': -122.432574}",$$,4.0,1776
17,barrel-head-brewhouse-san-francisco-5,Barrel Head Brewhouse,"[{'alias': 'breweries', 'title': 'Breweries'},...","{'latitude': 37.7757521780078, 'longitude': -1...",$$,4.0,521
18,the-meat-house-san-francisco-2,The Meat House,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...","{'latitude': 37.7808037897, 'longitude': -122....",NaN,4.5,11
20,the-dorian-san-francisco,The Dorian,"[{'alias': 'tradamerican', 'title': 'American ...","{'latitude': 37.80065, 'longitude': -122.4365}",$$,4.0,524
21,nara-restaurant-and-sake-bar-san-francisco,Nara Restaurant & Sake Bar,"[{'alias': 'japanese', 'title': 'Japanese'}, {...","{'latitude': 37.7721665317965, 'longitude': -1...",$$,4.5,951
22,um-ma-san-francisco-3,um.ma,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...","{'latitude': 37.7655, 'longitude': -122.46608}",$$,4.0,79
23,nopa-san-francisco,Nopa,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 37.77483, 'longitude': -122.43746}",$$$,4.0,4986
24,skool-san-francisco,Skool,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 37.7685096967036, 'longitude': -1...",$$,4.0,1701
25,izakaya-sozai-san-francisco,Izakaya Sozai,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...","{'latitude': 37.763879, 'longitude': -122.47413}",$$,4.0,2040
26,kokkari-estiatorio-san-francisco,Kokkari Estiatorio,"[{'alias': 'greek', 'title': 'Greek'}, {'alias...","{'latitude': 37.796996, 'longitude': -122.399661}",$$$,4.5,4411
27,paina-lounge-and-restaurant-san-francisco,Pa'ina Lounge & Restaurant,"[{'alias': 'hawaiian', 'title': 'Hawaiian'}, {...","{'latitude': 37.7853553960108, 'longitude': -1...",$$,4.0,553
28,gary-danko-san-francisco,Gary Danko,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 37.80587, 'longitude': -122.42058}",$$$$,4.5,5412
29,tropisueno-san-francisco-8,Tropisueno,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...","{'latitude': 37.7853008468227, 'longitude': -1...",$$,4.0,4261
30,noosh-san-francisco,Noosh,"[{'alias': 'mediterranean', 'title': 'Mediterr...","{'latitude': 37.7880771447147, 'longitude': -1...",$$,4.0,177
...,...,...,...,...,...,...,...
968,arguello-san-francisco,Arguello,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...","{'latitude': 37.7976268, 'longitude': -122.458...",$$,3.0,301
969,asian-box-san-francisco-4,Asian Box,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...","{'latitude': 37.8006618091435, 'longitude': -1...",$$,4.5,160
970,town-hall-san-francisco,Town Hall,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 37.7895383, 'longitude': -122.394...",$$$,3.5,1918
971,amitis-cafÃ©-san-francisco-2,Amitis CafÃ©,"[{'alias': 'poke', 'title': 'Poke'}, {'alias':...","{'latitude': 37.77384, 'longitude': -122.44583}",$,4.5,156
972,san-tung-2-san-francisco-2,San Tung 2,"[{'alias': 'chinese', 'title': 'Chinese'}]","{'latitude': 37.76377, 'longitude': -122.46906}",$$,4.0,469
973,radio-africa-kitchen-san-francisco,Radio Africa Kitchen,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 37.73475, 'longitude': -122.39108}",$$,4.5,335
975,calzones-restaurant-san-francisco,Calzone's Restaurant,"[{'alias': 'italian', 'title': 'Italian'}, {'a...","{'latitude': 37.799032, 'longitude': -122.4081...",$$,3.5,1472
976,frisco-fried-san-francisco,Frisco Fried,"[{'alias': 'soulfood', 'title': 'Soul Food'}, ...","{'latitude': 37.73116, 'longitude': -122.39235}",$$,4.0,402
977,swamp-san-francisco,Swamp,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 37.7802002, 'longitude': -122.477...",$$,3.5,615
978,pizza-squared-san-francisco,Pizza Squared,"[{'alias': 'pizza', 'title': 'Pizza'}]","{'latitude': 37.771485, 'longitude': -122.405001}",$,4.5,82
979,lous-cafe-san-francisco,Lou's Cafe,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...","{'latitude': 37.78045, 'longitude': -122.473308}",$$,4.5,1449
980,dinosaurs-san-francisco-4,Dinosaurs,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...","{'latitude': 37.7644154700871, 'longitude': -1...",$,4.0,876
981,hakashi-japanese-bar-and-grill-san-francisco,Hakashi Japanese Bar & Grill,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...","{'latitude': 37.78142, 'longitude': -122.39635}",$$,4.5,140
982,7-mile-house-brisbane,7 Mile House,"[{'alias': 'sportsbars', 'title': 'Sports Bars...","{'latitude': 37.7043136445698, 'longitude': -1...",$$,4.0,1039
983,amasia-hides-sushi-bar-san-francisco,Amasia Hide's Sushi Bar,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...","{'latitude': 37.766762804295, 'longitude': -12...",$$,4.0,309
984,cadillac-bar-and-grill-san-francisco,Cadillac Bar & Grill,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...","{'latitude': 37.776846, 'longitude': -122.415784}",$$,3.5,325
986,universal-cafe-san-francisco-5,Universal Cafe,"[{'alias': 'breakfast_brunch', 'title': 'Break...","{'latitude': 37.76062, 'longitude': -122.41064}",$$,4.0,1332
987,shin-toe-bul-yi-san-francisco,Shin Toe Bul Yi,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 37.7423844, 'longitude': -122.487...",$$,4.0,599
988,cha-ya-san-francisco-5,Cha-Ya,"[{'alias': 'japanese', 'title': 'Japanese'}, {...","{'latitude': 37.760753, 'longitude': -122.421787}",$$,4.0,1163
989,halal-wings-plus-san-francisco-2,Halal Wings Plus,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...","{'latitude': 37.7862701416016, 'longitude': -1...",$$,4.0,408
990,tank18-san-francisco,Tank18,"[{'alias': 'venues', 'title': 'Venues & Event ...","{'latitude': 37.7742614746094, 'longitude': -1...",$$,4.0,138
991,slice-house-san-francisco-3,Slice House,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...","{'latitude': 37.780901, 'longitude': -122.391305}",$$,4.0,325
992,taqueria-guadalajara-san-francisco,Taqueria Guadalajara,"[{'alias': 'mexican', 'title': 'Mexican'}]","{'latitude': 37.7212907373905, 'longitude': -1...",$,4.0,922
993,takara-sushi-san-francisco,Takara Sushi,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...","{'latitude': 37.76058, 'longitude': -122.43684}",$$,4.0,305
994,manoras-thai-cuisine-san-francisco,Manora's Thai Cuisine,"[{'alias': 'thai', 'title': 'Thai'}, {'alias':...","{'latitude': 37.77084, 'longitude': -122.41528}",$$,4.0,572
995,teruya-ramen-and-drink-san-francisco-2,Teruya Ramen & Drink,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...","{'latitude': 37.78143, 'longitude': -122.46186}",$$,4.0,35
996,the-halal-guys-san-francisco-san-francisco,The Halal Guys - San Francisco,"[{'alias': 'halal', 'title': 'Halal'}, {'alias...","{'latitude': 37.786352, 'longitude': -122.4104...",$$,3.5,754
997,chouquets-san-francisco,Chouquet's,"[{'alias': 'french', 'title': 'French'}]","{'latitude': 37.791795, 'longitude': -122.434541}",$$,3.5,591
998,gracias-madre-san-francisco,Gracias Madre,"[{'alias': 'vegan', 'title': 'Vegan'}, {'alias...","{'latitude': 37.761606, 'longitude': -122.419241}",$$,4.0,3126
999,udupi-palace-san-francisco,Udupi Palace,"[{'alias': 'indpak', 'title': 'Indian'}, {'ali...","{'latitude': 37.75667, 'longitude': -122.42091}",$$,4.0,1330

In [55]:
Yelp_SF_Restaurant_health_data_df.shape

(1000, 7)

In [ ]:
Yelp_SF_Restaurant_health_data_df